<div class="copy-content">
  <h2>Success! Please use this link:</h2>
  <div class="alert alert-warning" role="alert">
    <span class="mr-2 fs-5">您 的 網 址 已 縮 短 ： </span> <code class="fs-3">{{ url }}</code>
  </div>
  <button>Copy</button>
</div>
